.singlePost {
  flex: 9;
  width: 100px;
  /* border: 1px solid black; */
  box-shadow: 3px 4px 3px 4px rgb(202, 199, 199);
  margin-top: -70px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  /* margin-top: -60px; */
}

textarea {
  margin-bottom: 20px;
  align-items: center;
  padding: 10px;
  width: 40px;
}

.singlePostTime {
  margin-right: 86px;
}

.singlePostDate {
  margin-top: 10px;
}

.singlePostImg {
  width: 90%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 20px;
}

.sub {
  margin-bottom: 10px;
}

.singlePostTitle {
  /* text-align: center; */
  /* margin: 10px; */
  font-family: "Lora", serif;
  font-size: 28px;
}

.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: rgb(17, 7, 7);
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  /* float: right; */
  font-size: 16px;
  margin-left: 730px;
  margin-top: -30px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #1b1313;
  /* margin-bottom: px; */
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

/* .singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  } */

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostButton {
  width: 130px;
  border: none;
  background-color: teal;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 40PX;
}

.singlePostButton:hover {
  background-color: rgb(68, 57, 57);
  color: rgb(250, 252, 241);
  border: 1PX SOLID teal;
}

@media screen and (max-width:700px) {
  .singlePost {
    flex: 3;
    width: 100vw;
    margin-left: -180px;
  }

  .singlePostImg {
    width: 300px;
    height: 250px;
  }

  .singlePostEdit {
    margin-right: 134px;
  }
}